# Operating System
.DS_Store
Thumbs.db

# Node / pnpm
node_modules/
.pnpm-debug.log*
.pnpm-store/

# Package locks (if you ever switch)
# package-lock.json
# yarn.lock


# Env files
.env.local
.env.*.local
!.env.example


# Build outputs
# Next.js
**/.next/
**/out/

# Vercel
.vercel/
.vercel-build-output/

# pnpm plugin turbo (if you add it)
.turbo/

# Electron (adjust if you rename your dist dir)
dist/
release/
build/


# Logs & reports
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Coverage & test
coverage/
.nyc_output/


# IDEs & editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.class
*.war
*.jar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
